/* headr part formatting */
.main{
    display: flex;
    margin-left:120px;
    margin-right:120px;
}
.text a{
    /* Frame 67 */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    padding: 10px 24px;

    position: ;
    width: 196px;
    height: 44px;
    left: 120px;
    top: 200px;
    color:white;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;

    background: #E02C6D;
    border-radius: 41px;
}
.see{
    display:flex;
    flex-direction: column;
}
.product{
    margin-left:190px;
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(3, 1fr);
    height:1650px;
    width: 1000px;
    font-family: 'Poppins';
}
.product-head{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.items{
    border:5px solid black;
}
.seemore{
    padding-top: 100px;
    padding-right: 150px;
    
    font-family: 'Poppins', sans-serif;
    text-align: right;
    
}
.seemore a{
    text-decoration: none;
    color:#E02C6D;
}
.add{
    margin-top: 100px;
    margin-left:165px;
    margin-right:165px;
    display:flex;
}
.add h1{
    padding-left: 30px;
}
.add p{
    padding-left: 30px;
}
footer{
    color:#ffffff;
    background-color: black;
    text-align: center;
}
@media (max-width: 480px) {
    .product{
        margin-left:190px;
        display: grid;
        grid-gap:30px;
        grid-template-columns: repeat(1, 1fr);
        height:900;
        width: 300px;
        font-family: 'Poppins';
    }
    .main{
        display: flex;
        flex-direction: column;
        margin-left:;
        margin-right:;
    }
    .add{
        display:flex;
        flex-direction: column;
    }    
    footer{
        color:#ffffff;
        background-color: black;
        text-align: center;
    }
}  